In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd

Iterables are objects that can be iterated over and that have an iter method, which can be used to convert them to iterators, which have a next method that's used to retrieve their values. Lists, strings, and range() are iterables. Use for loops to iterate over iterables. Iterables can be fed directly to functions.

In [7]:
for num in range(2):
    print(num)
    yy
#iterables can be fed to functions
list(range(2))
sum(range(2))

0
1

[0, 1]

1

In [15]:
small_value = iter(range(3))
print(next(small_value))
print(next(small_value))

0
1

Use enumerate to make tuples of values where the first element of each tuple is an index.

In [13]:
list(enumerate(['hi','bye','sky']))
list(enumerate(['hi','bye','sky'], start=1))
for index, value in list(enumerate(['hi','bye','sky'])): #unpack tuple pairs of index-values
    print(index,value)

[(0, 'hi'), (1, 'bye'), (2, 'sky')]

[(1, 'hi'), (2, 'bye'), (3, 'sky')]

0 hi
1 bye
2 sky

Use zip to make tuples of the jth values in the provided lists.
Use print(\*zip) to print unpacked tuples without having to use list()
Use zip(\*zip), to undo the zip.
Use x,y = zip(\*zip) to set x,y equal to the list elements (you can do this for any list)

In [3]:
temp=zip([1,2,3],['hi','bye','sky'])
print(*temp) #unpack the tuples using the * shortcut

(1, 'hi') (2, 'bye') (3, 'sky')

In [15]:
temp=zip([1,2,3],['hi','bye','sky'])
list(zip(*temp))

[(1, 2, 3), ('hi', 'bye', 'sky')]

In [36]:
temp=zip([1,2,3],['hi','bye','sky'])
x,y=zip(*temp)
x
y

(1, 2, 3)

('hi', 'bye', 'sky')

# Reading in large chunks of data

In [33]:
import pandas as pd
housing=pd.read_csv('boston_housing.csv')
counts_dict=dict()
for chunk in pd.read_csv('boston_housing.csv',chunksize=10):
    for entry in chunk['CHAS']:
        if entry in counts_dict.keys():
            counts_dict[entry] += 1
        else:
            counts_dict[entry] = 1
print(counts_dict)

{0: 471, 1: 35}

# A list comprehension within a list comprehension

In [20]:
[[k for k in range(0,2) if k>0] for j in range(0,5) if j>1]

[[1], [1], [1]]

# A dictionary comprehension

In [3]:
{j: len(j) for j in ['hi','frank']}

{'frank': 5, 'hi': 2}

# A generator expression

In [17]:
x=(j for j in ['hi','bobby','what?'])
next(x)
for i in x: #a for loop also works to 
    print(i)

'hi'

bobby
what?

# Generator functions

Use the keyword "yield" instead of "return" and generate a series of values instead of one.

In [1]:
def shithead(poop):
    for poop_j in poop:
        yield len(poop_j)

x=['super sized','BIG!', 'tiny as fuck']
for j in shithead(x):
    print(j)

x=['super sized','BIG!', 'tiny as fuck']
next(shithead(x)),next(shithead(x)),next(shithead(x)) #THIS WON'T WORK surprisingly!!!

11
4
12

(11, 11, 11)

# Making a dictionary using list1 as keys and list2 as values

In [5]:
list1=[1,2,3]
list2=['a','b','c']
def lists_to_dicts(list1,list2):
    return dict(zip(list1,list2))
lists_to_dicts(list1,list2)

{1: 'a', 2: 'b', 3: 'c'}

# Importing data in chunks

In [ ]:
#looking into reading in data and what this code does, see file i/o tab of pandas excel

In [22]:
with open('iris.csv') as file: 
    row_count=len(file.readlines())-1 
with open('iris.csv') as file:  #with open() closes the file automatically and default value is 'r', read!    
    temp=[]  
    columns=file.readline().split(',')    #read in column values.  One call to readline pulls just one row. 
    j=row_count
    while j>0:                        
        line = file.readline().split(',') #read one line of the file as a string,
        temp.append(line)                 #split this one string by the commas into a list of values   
        j-=1
print('Did I import all of the data? {}'.format(len(temp)==row_count))

Did I import all of the data? True

In [66]:
#combine data and column name lists into a DataFrame, then remove '\n' from Species column values.
iris=pd.DataFrame(temp,columns=columns)
iris.columns.tolist()
iris.rename(columns={'Species\n':'Species'},inplace=True)
iris.head(3)
iris.Species=iris.Species.str.rstrip('\n')
iris.head(3)

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species\n']

  Sepal.Length Sepal.Width Petal.Length Petal.Width   Species
0          5.1         3.5          1.4         0.2  setosa\n
1          4.9           3          1.4         0.2  setosa\n
2          4.7         3.2          1.3         0.2  setosa\n

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
0          5.1         3.5          1.4         0.2  setosa
1          4.9           3          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa